/* Mixins and variables */
/* General Styles Including Reset */
/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  /*GENERAL STYLES */
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'PT Sans', sans-serif;
    background-color: #FFFAFA;
    color: #444;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }